<div id="home">
  <div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1 class="text-center display-1" id="jumboTitle">AutoMan</h1>
      <h5 class="text-center" id="jumboSubtitle"><em>Automobile Management System</em></h5>
    </div>

    <!-- Filter Search -->
    <div class="card">
      <div class="card-header">Sold Vehicles</div>
      <div class="card-body" id="searchBody">
        <i class="fas fa-search"></i><input class="form-control" id="searchInput" type="text" placeholder="Search...">
      </div>
    </div>
    <br>

    <!-- Current inventory -->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="currentInventory" value="I" name="radio1">
      <label class="custom-control-label" for="currentInventory">Current Inventory</label>
    </div>
    <!-- Sold  -->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="soldInventory" Value="S" name="radio1" checked>
      <label class="custom-control-label" for="soldInventory">Sold Vehicles</label>
    </div>
    <!-- Customer  -->
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="customer" Value="C" name="radio1">
      <label class="custom-control-label" for="customer">Customers</label>
    </div>

    <!-- Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-header">Vehicle Database</div>
          <div class="card-body">
            <table id="car-table" class="table display table-sm table-hover sortable">
              <thead>
                <tr>
                  <th scope="col">Year</th>
                  <th scope="col">Make</th>
                  <th scope="col">Model</th>
                  <th scope="col">Color</th>
                  <th scope="col">Mileage (mi)</th>
                  <th scope="col">Date Sold</th>
                  <th scope="col">Price</th>
                  <th scope="col">Customer</th>
                  <!--th scope="col">Picture</th-->
                  <th scope="col">Sold</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                {{#each cars}}
                <tr id="row" +{{this.id}} data-id="{{this.id}}">
                  <td scope="col" id="year{{this.id}}">{{this.year}}</td>
                  <td scope="col" id="make{{this.id}}">{{this.make}}</td>
                  <td scope="col" id="model{{this.id}}">{{this.model}}</td>
                  <td scope="col" id="color{{this.id}}">{{this.color}}</td>
                  <td scope="col" class="comma" id="mileage{{this.id}}">{{this.mileage}}</td>
                  <td scope="col" id="datesold{{this.id}}">{{this.datesold}}</td>
                  <td scope="col" class="comma" id="price{{this.id}}">${{this.price}}</td>
                  <td scope="col" id="price{{this.id}}">{{this.Customer.name}}</td>
                  <td scope="col" class='d-none' id="customer{{this.id}}">{{this.CustomerId}}</td>
                  <!--td scope="col" id="image{{this.id}}"><img src="{{this.carimage}}" width="50px" height="50px" /></td!-->
                  <!--need these next three fields to retrieve the data, but will be hidden-->
                  <td scope="col"><span class="icon is-sm"><button class="btn btn-sm btn-success soldButton"
                        data-id="{{this.id}}"><i class="fas fa-dollar-sign"></i></button></span></td>
                  <td scope="col"><span class="icon is-sm"><button class="btn btn-sm btn-danger deleteButton"
                        data-id="{{this.id}}"><i class="fa fa-trash" aria-hidden="true"></i></button></span></td>
                  <td scope=" col"><span class="icon is-sm"><button class="btn btn-sm btn-warning editButton"
                        data-id="{{this.id}}"><i class="fa fa-edit" aria-hidden="true"></i></button></span></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODALS -->
<!-- Sold Button Modal -->
<div class="modal" id="soldModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please enter buyer information below</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <!-- Dropdown button -->
            <div class="form-group">
              <label for="category">Select Customer:</label>
              <select class="custom-select" id="car-customer">
              </select>
            </div>
            <hr>
            <br>
            <div class="row">
              <div class="col">
                <label>Price</label>
                <input type="number" class="form-control" id="car-price" required min="10" max="444444">
              </div>

              <div class="col">
                <label>Date</label>
                <input type="date" class="form-control" id="car-date" required>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="modalCloseCust" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" id="submitSold">Submit</button>
            <hr>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add new car or edit and existing Modal -->
<div class="modal" id="carModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please enter vehicle information below</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Year</label>
                <input type="number" class="form-control" id="car-year" required min="1933" max="2025">
              </div>
              <div class="col">
                <label>Make</label>
                <input type="text" class="form-control" id="car-make" required>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <label>Model</label>
                <input type="text" class="form-control" id="car-model" required>
              </div>

              <div class="col">
                <label>Color</label>
                <input type="text" class="form-control" id="car-color" required>
              </div>

              <div class="col">
                <label>Mileage</label>
                <input type="number" class="form-control" id="car-mileage" required min="0" max="444444">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="modalCloseCar" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" id="submit-car">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Delete Modal -->
<div class="modal" id="confirmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete entry</h5>
      </div>
      <div class="modal-body">
        <form>
          <p>
            <h5>Are you sure you want to delete?</h5>
          </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalCloseConfirm">Cancel</button>
            <button type="submit" class="btn btn-primary" id="submit-delete">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>